body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.mt-page{
  margin-top: 90px;
}

.react-modal-overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.react-modal-content{
  width: 100%;
  max-width: 600px;

  background: #fff;
  outline: none;
  padding: 1rem;
  position: relative;
  border-radius:  0.24rem;
  margin-left: 15px;
  margin-right: 15px;
}

.react-modal-close{
  position: absolute;
  right: -20px;
  top: -15px;
  border: 0;
  background: transparent;
}